#info-wrapper{
	position: relative;
	width: 900px;
	min-height: 600px;
}

#info-image{
	position: relative;
	float: left;
	width: 325px;
	height: 260px;
	left: 20px;
	padding-top: 15px;
}

#info-bio{
	position: relative;
	float: right;
	width: 525px;
	height: 275px;
}

#info-shows{
	position: relative;
	width: 900px;
	min-height: 285px;
}

.clear{
	clear: both;
}